<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="page gap">
  <span class="ml-3">.</span>
  <span class="ml-3">.</span>
  <span class="ml-3 mr-3">.</span>
  <%#= t('views.pagination.truncate').html_safe %>
</li>
